body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9,39,25,0.7),rgba(23,38,40,0.7)),url(wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.error {
    color: red;
}

.success {
    color: green;
}
